.sectionWrapper {
  margin-bottom: 30rem;
  display: flex;
  flex-direction: column;
  gap: 7.6rem;

  @media ($mobile) {
    margin-bottom: 6rem;
    gap: 2.4rem;
  }

  .teamSwiper {
    width: calc(100% - 7.4rem);
    margin-inline: 3.7rem;
    position: relative;

    .swiperLeftBtn,
    .swiperRightBtn {
      width: 6rem;
      height: 6rem;
      border-radius: 50%;
      backdrop-filter: blur(10px);
      background: $grey-middle;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 2;

      .buttonIcon {
        width: 2rem;
      }
    }

    .swiperLeftBtn {
      left: -3rem;

      .buttonIcon {
        transform: rotate(90deg);
      }
    }

    .swiperRightBtn {
      right: -3rem;

      .buttonIcon {
        transform: rotate(-90deg);
      }
    }
  }

  .employeesCardContainer {
    padding-inline: 3.7rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    row-gap: 7.6rem;
  }

  .otherEmployeeSliderContainer {
    height: 15rem;
    position: relative;

    @media ($mobile) {
      height: 7.5rem;
    }

    .gradient {
      height: 100%;
      width: 10rem;
      position: absolute;
      top: 0;
      z-index: 2;

      @media ($mobile) {
        width: 5rem;
      }

      &.left {
        left: 0;
        background: linear-gradient(90deg, rgba(18,18,18,1) 0%, rgba(18,18,18,1) 5%, rgba(18,18,18,0) 100%);
      }

      &.right {
        right: 0;
        background: linear-gradient(90deg, rgba(18,18,18,0) 0%, rgba(18,18,18,1) 95%, rgba(18,18,18,1) 100%);
      }
    }

    .otherEmployeeSlide {
      img {
        width: 100%;
        height: 100%;
        aspect-ratio: 1 / 1;
        border-radius: 50%;
      }
    }
  }
}