
# Server
HOST=0.0.0.0
PORT=1337

# Secrets
APP_KEYS=WXM57DtGjSb4yoHSwfFVgg==,8ElQZzhU1KDZSL9PmCqE9Q==,Od1PQSZK49VnNRgs8vmyHw==,LkaKN2SoSraal0FiYmziRw==
API_TOKEN_SALT=NXQPqMWVlBgdc1sA4YVsbg==
ADMIN_JWT_SECRET=r9R+7u425jeCqxVMiwacHg==
TRANSFER_TOKEN_SALT=wGqu84BgFmyPdtL8cyPhNQ==
ENCRYPTION_KEY=3mzARKsIRGs9ETW9ruN/cw==

# Database
DATABASE_CLIENT=postgres
DATABASE_HOST=127.0.0.1
DATABASE_PORT=5432
DATABASE_NAME=railway
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=JFkLXftDGYiFykaUZVsFFtwkjrhlfjhS
DATABASE_SSL=false
DATABASE_FILENAME=
